@font-face {
	font-family: 'ProximaNova';
	src:  url('../fonts/ProximaNova-Regular.woff') format('woff');
}
@font-face {
	font-family: 'ProximaNova-Extrabld';
	src:  url('../fonts/ProximaNova-Extrabld.woff') format('woff');
}
body{
	background-color: #fffefb;
}
.container{
	max-width: 1440px;
}
header{
	background-color:#4a4a4a;
	min-height: 140px; 
}
ul{
	margin:0;
	padding:0;
}
img{
	max-width: 100%;
}
body{
	background-color: #fffefb;
}
.a-logo-wrapper{
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	align-items: center;
	height: 140px;
}
.a-logo-img{
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.a-logo-img img{
	max-width: 100px;
}
.a-logo-text{
	flex: 0 0 66.666%;
	max-width: 66.666%;
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.a-logo-text h3{
	font-size:15px;
	color:#e2d5b3;
	font-family: 'ProximaNova-Extrabld';
}
.a-logo-text span{
	font-size:11px;
	color:#e2d5b3;
	font-family: 'ProximaNova';
}
.a-tools-nav{
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.a-tools{
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid white;
	flex: 0 0 50%;
	max-height: 50%;
	align-items: center;
}
.a-tools>*{
	margin-left: 2.8%;
}
.a-tools-nav img{
	height: 20px;
	width: 20px;
	margin:0 5px;
}
.a-lang{
	color:#e2d5b3;
	font-size: 16px;
	font-family: 'ProximaNova';
	position: relative;
}
.a-search{
	position: relative;
}
.a-search input{
	width:300px;
	outline: 0 !important;
	padding: 0 15px;
	color:#e2d5b3;
}
.a-search input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #e2d5b3;

	opacity: 1; /* Firefox */
}

.a-search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #e2d5b3;

}

.a-search input::-ms-input-placeholder { /* Microsoft Edge */
	color: #e2d5b3;

}
.a-search img{
	position: absolute;
	right: 6px;
	top: calc(50% - 7.5px);
	height: 15px;
	width: 15px;
}
.a-search input{
	border-radius: 10px;
	height: 30px;
	border:0;
	background-color: #3f3f3f;

}
.a-lang ul{
	position: absolute;
	right: 0;
	margin-top: 5px;
	text-align: right;
	background-color: grey;
	padding: 10px;
}
.a-lang ul li{
	list-style: none;
}
.a-lang ul li a{
	color:#e2d5b3 !important;
	text-decoration: none;
}
.a-site-lang{
	cursor: pointer;

}
.a-lang-dropdown{
	display: none;
}
nav{
	display: flex;
	justify-content: flex-end;
	flex: 0 0 50%;
	max-height: 50%;
	align-items: center;
}
nav ul{
	
	display: flex;
	width: 100%;
	justify-content: space-between;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	text-decoration:none !important;
	color:#e2d5b3 !important; 
	font-size: 17px;
	font-family: "ProximaNova";
}
h3 {
	margin: 0;
}
/* news-home section */
.titles-home{
	font-family: ProximaNova-Extrabld;
	color: #d0bf91;
	padding-bottom: 25px;
	padding-top: 50px;
}
.news-home__main{
	height: 525px;
}
/* END_news-home section */

/*usefull links*/
.a-useful-card{
	border-radius: 10px;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
	padding:0 25px;
}
.a-useful-card img{
	height: 65px;
	width:65px !important;
}
.a-usefull-text{
	padding-top:15px;
	padding-bottom:20px;
}
.a-usefull-text span{
	font-family: "ProximaNova";
	font-size:15px;
	color:#2c2828;
}
.a-useful-img{
	padding:25px 0;
	border-bottom:1px solid rgb(191, 191, 191);
}
.a-useful-links .owl-stage-outer{
	padding: 15px 0px;
}