@font-face {
	font-family: 'ProximaNova';
	src:  url('../fonts/ProximaNova-Regular.woff') format('woff');
}
@font-face {
	font-family: 'ProximaNova-Extrabld';
	src:  url('../fonts/ProximaNova-Extrabld.woff') format('woff');
}
@font-face {
	font-family: 'ProximaNova-Light';
	src:  url('../fonts/ProximaNova-Light.woff') format('woff');
}
@font-face 	{
	font-family: 'ProximaNova-Bold';
	src:  url('../fonts/ProximaNova-Bold.woff') format('woff');
}
body{
	background-color: #fffefb;
}
p{
	margin: 0;
}
.container{
	max-width: 1440px;
}
header{
	background-color:#4a4a4a;
	min-height: 140px; 
}
ul{
	margin:0;
	padding:0;
}
img{
	max-width: 100%;
}
body{
	background-color: #fffefb;
}
.a-logo-wrapper{
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -6px;
	margin-left: -6px;
	align-items: center;
	
}
header .a-logo-wrapper{
	height: 140px;
}
.a-logo{
	
	padding-right: 6px;
	padding-left: 6px;
}

.a-logo-text{
	flex: 0 0 66.666%;
	max-width: 66.666%;
	position: relative;
	width: 100%;
	padding-right: 6px;
	padding-left: 6px;
}
.a-logo-img img{
	max-width: 100px;
}
.a-logo-text h3{
	font-size:15px;
	color:#e2d5b3;
	font-family: 'ProximaNova-Extrabld';
}
.a-logo-text span{
	font-size:11px;
	color:#e2d5b3;
	font-family: 'ProximaNova';
}
.a-tools-nav{
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.a-tools{
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid white;
	flex: 0 0 50%;
	max-height: 50%;
	align-items: center;
}
.a-tools>*{
	margin-left: 2.8%;
}
.a-tools-nav img{
	height: 20px;
	width: 20px;
	margin:0 5px;
}
.a-lang{
	color:#e2d5b3;
	font-size: 16px;
	font-family: 'ProximaNova';
	position: relative;
}
.a-search{
	position: relative;
}
.a-search input{
	width:300px;
	outline: 0 !important;
	padding: 0 15px;
	color:#e2d5b3;
}
.a-search input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #e2d5b3;

	opacity: 1; /* Firefox */
}

.a-search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #e2d5b3;

}

.a-search input::-ms-input-placeholder { /* Microsoft Edge */
	color: #e2d5b3;

}
.a-search img{
	position: absolute;
	right: 6px;
	top: calc(50% - 7.5px);
	height: 15px;
	width: 15px;
}
.a-search input{
	border-radius: 10px;
	height: 30px;
	border:0;
	background-color: #3f3f3f;

}
.a-lang ul{
	position: absolute;
	right: 0;
	margin-top: 5px;
	text-align: right;
	background-color: grey;
	padding: 10px;
}
.a-lang ul li{
	list-style: none;
}
.a-lang ul li a{
	color:#e2d5b3 !important;
	text-decoration: none;
}
.a-site-lang{
	cursor: pointer;

}
.a-lang-dropdown{
	display: none;
}
nav{
	display: flex;
	justify-content: flex-end;
	flex: 0 0 50%;
	max-height: 50%;
	align-items: center;
}
nav ul{
	
	display: flex;
	width: 100%;
	justify-content: space-between;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	text-decoration:none !important;
	color:#e2d5b3 !important; 
	font-size: 17px;
	font-family: "ProximaNova";
}
h3 {
	margin: 0;
}
/* news-home section */
.titles-home{
	font-family: ProximaNova-Extrabld;
	color: #d0bf91;
	padding-bottom: 25px;
	padding-top: 50px;
}
.titles-home a{
	font-family: ProximaNova-Light;
	font-size: 15px;
	margin-right: 45px;
}
.titles-home span{
	
}
.news-home .my-col-6{
	-ms-flex: 0 0 50%;
    flex: 0 0 50%;
	max-width: 50%;
	position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
}
.news-home .my-col-3{
	-ms-flex: 0 0 25%;
    flex: 0 0 25%;
	max-width: 25%;
	position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
}
.news-home .news-home__main{
	height: 525px;
}
.news-home .news-home__main .my-prev-button__news, .news-home .news-home__main .my-next-button__news{
	font-size: 20px;
}
.news-home .news-home__item .item__img{
	border-radius: 10px;	
}
.news-home .news-home__item .item__img::after{
	background: linear-gradient(transparent 50%, black);
	background: -o-linear-gradient(transparent 50%, black);
	background: -moz-linear-gradient(transparent 50%, black);
	display: block;
    position: relative;
    margin-top: -400px;
    height: 400px;
    width: 100%;
	content: '';
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.news-home .news-home__item .item__img img	{
	height: 400px;
	border-radius: 10px;	
}
.news-home .news-home__item .item__inside{
	position: relative;
}
.news-home .item__inside .item__text{
	position: absolute;
	bottom: 0;
	height: 145px;
	color: black;
	padding-left: 30px;
	padding-right: 30px;
}
.news-home .item__inside .item__text img{
	width: 20px;
	height: 20px;
	display: initial;
}
.news-home .item__inside .item__text span{
	font-size: 15px;
	font-family: ProximaNova;
	color: #ffffff;
}
.news-home .item__inside .item__text h6{
	font-size: 20px;
	font-family: ProximaNova-Extrabld;
	margin-top: 20px;
	color: #ffffff;
}
/* END_news-home section */
/*  Administration SECTION*/
.administration__square1{
	-ms-flex: 0 0 39.56%;
    flex: 0 0 39.56%;
    max-width: 100%;
    position: relative;
	width: 100%;
	padding: 7.5px;
}
.administration__square1 .square1__text{
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
	min-height: 220px;
	padding: 40px 25px;
	color: #2c2828;
	background: url('../images/logo_big.png') #ece7d9;
	background-repeat: no-repeat;
	background-position: -11% 210%;
}
.administration__square1 .square1__text p{
	font-family: ProxProximaNova-Light;
	font-size: 16px;
}
.administration__square{
	-ms-flex: 0 0 19.78%;
    flex: 0 0 19.78%;
    max-width: 100%;
    position: relative;
	width: 100%;
	padding: 7.5px;
}
.administration__item{
	background-color: #ffffff;
	min-height: 220px;
	padding: 35px 25px;
	border-radius: 10px;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
}
.administration__item .item__text{
	border-bottom: 1px solid #f3eee1;
	min-height: 60px;
}
.administration__item .item__text h6{
	font-size: 15px;
	color: #2c2828;
	margin-bottom: 0px;
}
.administration__item .item__img{
	padding-top: 25px;
	position: relative;

} 
.administration__item .item__img img{
	width: 55px;
}
.administration__item .item__img img:nth-child(2){
	position: absolute;
	bottom: 0;
	right: 0;
	width: 35px;
}
/* END_Administration section */
/* QA SECTION */
.qa-home__main{
	padding-left: 15px;
	padding-right: 15px;
}
.qa-home img{
	width: 30px;
	height: 30px;
}
	  
.qa-home .card-header h6{
	font-family: ProximaNova;
	font-size: 16px;
	margin: 0;
}
  
.qa-home .card-header {
    padding: 30px 30px 30px 40px;
    margin-bottom: 0;
	background-color: rgb(255, 255, 255);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}
.qa-home  .card-body p{
	border-top: 1px solid rgb(191, 191, 191);
	padding-top: 30px;
}   
.qa-home  .card-body {
		padding: 0 30px 30px 30px; 
}
.qa-home .card .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
	 padding: 0;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.qa-home .card {
	margin-bottom: 15px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
	border-radius: 10px;
	padding-left: 7.5px;
	padding-right: 7.5px;
	padding-bottom: 0;
}
.qa-home .accordion__square{
	-ms-flex: 0 0 50%;
    flex: 0 0 50%;
	max-width: 50%;
	position: relative;
    width: 100%;
}
.qa-home .accordion>.card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.qa-home .accordion>.card:not(:first-of-type):not(:last-of-type) {
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.qa-home .accordion>.card:last-of-type {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.qa-home .accordion__square:nth-child(1){
	padding-right: 7.5px;
}
.qa-home .accordion__square:nth-child(2){
	padding-left: 7.5px;
}
/* END_QA SECTION */
/*usefull links*/
.a-useful-card{
	border-radius: 10px;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
	padding:0 25px;
}
.a-useful-card img{
	height: 65px;
	width:65px !important;
}
.a-usefull-text{
	padding-top:15px;
	padding-bottom:20px;
}
.a-usefull-text span{
	font-family: "ProximaNova";
	font-size:15px;
	color:#2c2828;
}
.a-useful-img{
	padding:25px 0;
	border-bottom:1px solid rgb(191, 191, 191);
}
.a-useful-links .owl-stage-outer{
	padding: 15px 0px;
}

/*footer*/

footer{
	background-color: #4a4a4a;
	color:#e2d5b3;
	padding:30px 0;
}
.a-top-bottom-aligned{
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
footer .a-logo img{
	max-width:95px;
}
footer .a-logo-text h3{
	font-size:16px;
	font-family: 'ProximaNova-Bold';
}
footer .a-logo-text span{
	font-size:13px;
	font-family: 'ProximaNova';
}
footer .copyright span{
	font-family: 'ProximaNova';
	font-size:15px;
}
footer .a-contacts{
	display: flex;
	justify-content: space-between;
}
footer .a-contact{
	display: flex;
	align-items: center;
}
footer .a-contact{
	font-family: 'ProximaNova';
	font-size:14px;
}
footer .a-contact span{
	font-family: 'ProximaNova-Bold';
	font-size:16px;
}
footer .a-usage-right{
	font-size: 15px;
	font-family: 'ProximaNova';
}
footer .a-mistake, .a-author{
	font-size:15px;
	font-family: 'ProximaNova'
}
footer .phone-number{
	padding-left:10px;
}
footer .a-300{
	max-width: 300px;
	margin:0 auto;
}
footer .a-300-right{
	max-width: 300px;
	float: right;
}
/*statistics*/

.stat-item{
	background-color: #ece7d9;
	padding:40px 0;
	border-radius: 10px;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
}
.stat-row{
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -6px;
	margin-left: -6px;
	align-items: center;
}
.stat-col{
	flex: 0 0 33.333%;
	max-width: 33.333%;
	position: relative;
	width: 100%;
	padding-right: 6px;
	padding-left: 6px;
}
.stat-inner{
	padding:0 95px;
	height: 275px;
}
.stat-inner>div{
	height: 50%;
}
.stat-text-img{
	text-align:center;
	border-bottom:2px solid #f4f1ea;
}
.stat-text-img img{
	width:55px;
	height: 55px;
}
.stat-text{
	font-size: 18px;
	font-family: 'ProximaNova';
	color:#2c2828;
}
.stat-numbers-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.stat-numbers{
	display: flex;
	justify-content: space-between;
}
.stat-col:nth-child(2){
	border-left:2px solid #f4f1ea;
	border-right:2px solid #f4f1ea;
}
.number{
	font-size: 36px;
	font-family: 'ProximaNova';
	color:#d0bf91;
}
.number-description{
	font-family: 'ProximaNova';
	font-size:18px;
	color:#2c2828;
	display: block;
	width:90px;
}
.controllers{
	display: flex;
	justify-content: center;
	padding-top:50px;
}
.controllers .cont-text{
	max-width:100px;
}
.cont-left , .cont-right{
	padding: 3px;
	cursor: pointer;
}
.cont-text .period{
	text-align:center;
	font-size: 18px;
	font-family: "ProximaNova";
	
}
.headline{
	margin-bottom:25px;
}
.headline h2{
	font-size: 28px;
	font-family: 'ProximaNova-Extrabld';
	color:#d0bf91;
}